<footer>
    <div class="logoAcesso">
        <img src="../../../../assets/navBar/itlean-logo-white 1.png" alt="logo it lean" routerLink="/concessionaria/page/home">
        <a routerLink="/page/loginAdm">
            Acessar sistema de administração
        </a>
    </div>
    <div class="redes">
        <img src="../../../../assets/footer/facebook (1) 1.png" alt="">
        <img src="../../../../assets/footer/twitter (1) 1.png" alt="">
        <img src="../../../../assets/footer/instagram 1.png" alt="">
        <img src="../../../../assets/footer/youtube 1.png" alt="">
    </div>
</footer>