<section>
    <div class="containerLogin">
        <h1>
            Login
        </h1>
        <form [formGroup]="formLogin" *ngIf="!isLoading">
            <div class="containerInputs">
                <label class="userLabel">Username</label>
                <small *ngIf="formLogin.controls['login'].status == 'INVALID' && formLogin.controls['login'].touched">
                    Campo Inválido!
                </small>
                <input type="text" placeholder="Username" class="inputUsername" id="userInput"
                    formControlName="login" [ngClass]="{ 'invalid': (formLogin.controls['login'].status == 'INVALID' 
                && formLogin.controls['login'].touched) }">
            </div>
            <div class="containerInputs">
                <label class="senhaLabel">Senha</label>
                <small *ngIf="formLogin.controls['senha'].status == 'INVALID' && formLogin.controls['senha'].touched">
                    Campo Inválido!
                </small>
                <input type="password" placeholder="Senha" class="inputSenha" formControlName="senha"
                    [ngClass]="{ 'invalid': (formLogin.controls['senha'].status == 'INVALID' 
                && formLogin.controls['senha'].touched) }">
            </div>
            <div class="containerBtn">
                <button type="button" [disabled]="formLogin.status === 'INVALID'" (click)="fazerLogin()">
                    Entrar
                </button>
            </div>
        </form>

        <div class="textCriarConta">
            <h3>
                Ainda não tem conta ?
            </h3>
            <a href="/concessionaria/page/singUp"> Crie aqui!</a>
        </div>
    </div>
</section>

<section id="modal-error-login" *ngIf="openModal">
    <div class="card-error">
        <div class="erro-login" *ngIf="errorLogin">
            <h1>
                {{errorLogin}}
            </h1>
            <h2>
                Verifique se o login e/ou a senha estão corretos
            </h2>
            <button class="btnClose" type="button" (click)="fecharModal()">
                Fechar
            </button>
        </div>
    </div>
</section>

<ng-container *ngIf="isLoading">
    <section id="modal-loading">
        <div class="card-loading">
            <div>
                <span class="loading-word"></span>
            </div>
        </div>
    </section>
</ng-container>