section {
    width: 82%;
    margin-left: 18%;

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .contText {
            margin-top: 30px;

            h1 {
                font-family: 'inter';
                font-size: 23px;
                font-weight: 500;
            }
        }

        form {
            width: 100%;

            .contInfos {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 30px;
                gap: 20px;

                .contInputs {
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;


                    label {
                        font-family: 'inter';
                        font-size: 18px;
                        font-weight: 500;
                        margin-left: 8px;
                    }

                    input {
                        width: 100%;
                        height: 30px;
                        border-radius: 10px;
                        border: 1.8px solid rgb(97, 97, 97);
                    }

                    select {
                        width: 100%;
                        height: 40px;
                        border-radius: 10px;
                        border: 1.8px solid rgb(97, 97, 97);
                        font-family: 'inter';
                        font-size: 16px;
                        font-weight: 500;
                    }

                }

                .contBtn {
                    margin-top: 20px;
                    margin-bottom: 80px;
                    width: 100%;
                    display: flex;


                    button {
                        position: relative;
                        background: #D22730;
                        border: none;
                        width: 160px;
                        height: 50px;
                        left: 84%;
                        color: #ffffff;
                        font-family: 'inter';
                        font-size: 18px;
                        cursor: pointer;
                        transition: 0.2s;
                    }

                    button:hover {
                        transform: scale(1.03);
                    }
                }
            }
        }

    }

}


.modal {
    display: block;
    position: fixed;
    z-index: 1;
    background-color: rgba(19, 13, 13, 0.794);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .contModal {
        width: 550px;
        height: 150px;
        position: fixed;
        z-index: 10;
        left: 30%;
        top: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border: none;
        gap: 40px;


        .textModal {
            font-family: 'inter';
            font-size: 19px ;
            font-weight: 600;
        }

        .btnModal {
            button{
                width: 180px;
                height: 45px;
                border: none;
                background: #D22730;
                color: #ffffff;
                font-family: 'inter';
                font-size: 20px;
            }
        }
    }
}