section {
    width: 100%;

    .banner {
        width: 100%;
        height: 400px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .containerMarcas {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .tituloMarcas {
            display: flex;
            justify-content: center;
            font-family: 'inter';
            font-size: 30px;
            margin-bottom: 60px;
        }

        .containerCardMarcas {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 90%;
            gap: 20px;
        }
    }

    .containerModelos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 120px;

        .tituloModelos {
            display: flex;
            justify-content: center;
            text-align: center;
            font-family: 'inter';
            font-size: 30px;
            margin-bottom: 40px;
        }

        .containerCardModelos {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 50px;
        }
    }
}

// MEDIA QUERY .................................................

@media(max-width: 380px) {

    .section {

        .containerCardMarcas {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 90%;
            gap: 10px;
        }

        .containerCardModelos {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 50px;
        }


    }




}

@media(max-width: 670px) {

    .containerCardMarcas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 90%;
        gap: 65px;
    }

    .containerCardModelos {
        gap: 65px;
    }

    .tituloModelos {        
        width: 200px !important;
        word-wrap: break-word !important;
    }

}