section {
    display: flex;
    flex-direction: column;
    width: 100%;

    .parte1 {
        width: 100%;
        display: flex;
        flex-direction: row;

        .imgGaleri {
            display: flex;
            flex-direction: column;
            width: 35%;
            margin-top: 40px;


            img {
                width: 400px;
                height: 300px;
                padding: 0px 0px 50px 50px;
            }
        }

        .infosCar {
            width: 65%;
            margin-top: 40px;
            margin-left: 30px;

            .infosCarValorName {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 90%;
                height: 220px;

                .infosNameCar {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;

                    .carTipo {

                        h1 {
                            font-family: 'inter';
                            font-size: 32px;
                            font-weight: 600;
                        }
                    }

                    .carPotencia {

                        h1 {
                            font-family: 'inter';
                            font-size: 30px;
                            font-weight: 700;
                            color: #FF7A00;
                        }

                        h3 {
                            font-family: 'inter';
                            font-size: 17px;
                            font-weight: 600;
                            color: black;
                        }
                    }
                }

                .infosValores {
                    display: flex;
                    flex-direction: column;
                    text-align: end;
                    justify-content: right;
                    gap: 35px;
                    // line-height: 2.5;

                    h1 {
                        font-family: 'inter';
                        font-size: 32px;
                        font-weight: 700;
                        color: #FF7A00;
                    }

                    h3 {
                        font-family: 'inter';
                        font-size: 20px;
                        font-weight: 400;
                        color: black;
                    }
                }


            }

            .menuInfos {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                width: 90%;
                border: 1px solid #FF7A00;
                border-radius: 12px;
                padding: 20px;
                margin-top: 70px;



                h3 {
                    font-family: 'inter';
                    font-size: 15px;
                    font-weight: 500;
                }

                .ano {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }

                .quilometragem {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }

                .cambio {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }

                .cor {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }

                .combustivel {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }

                .carroceria {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }
            }



            .infosCarroceria {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 93%;
                margin-top: 80px;

                h2 {
                    font-family: 'inter';
                    font-size: 18px;
                    font-weight: 500;
                }

                img {
                    width: 50px;
                    height: 50px;
                }

                .motor {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 7px;

                }

                .portas {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 7px;
                }

                .placa {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 7px;
                }

            }

            .listaEspecificacao {
                width: 100%;
                margin-top: 60px;
                margin-left: -50px;

                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                    gap: 20px;
                    // max-height: 250px;


                    li {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 20px;

                        .li {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;
                            width: 250px;
                            font-family: 'inter';
                            line-height: 1.5;
                            font-size: 18px;
                            font-weight: 400;
                            color: black;

                            img {
                                width: 35px;
                                height: 30px
                            }

                            ;
                        }


                    }
                }
            }

            .btnSimulacao {
                margin-top: 50px;
            }
        }
    }

    .maisModelos {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 90px;
        margin-bottom: 60px;

        .tituloMais {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;

            h1 {
                font-family: 'inter';
                font-size: 33px;
                font-weight: 600;
                color: black;
            }
        }

        .containerCards {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }


    }

}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #212121d0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

    .containerModal {
        background-color: #ffffff;
        width: 50%;
        height: 93%;
        display: flex;
        flex-direction: column;


        h4 {
            position: relative;
            left: 96%;
            top: 2%;
            font-family: 'inter';
            font-size: 20px;
            font-weight: 400;
            cursor: pointer;
        }

        .tituloModal {
            text-align: center;
            font-family: 'inter';
            font-size: 20px;
        }

        .btnModal {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 40px;

            button {
                width: 210px;
                background: #ffcd9fbd;
                padding: 14px 40px;
                font-family: 'inter';
                font-size: 18px;
                font-weight: 600;
                color: #ffffff;
                border: none;
                border-radius: 7px;
                cursor: pointer;
                transition: 0.3s;
            }

            button:hover {
                transform: scale(1.03);
            }
        }

        .compra {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 95%;
            margin-top: 30px;


            .selectCompra {
                width: 90%;

                h2 {
                    font-family: 'inter';
                    font-size: 16px;
                    font-weight: 500;
                }

                select {
                    width: 60px;
                    height: 23px;
                    border-radius: 5px;
                    margin-top: 5px;
                }
            }

            .scroolTable {
                margin-right: -50px;
                width: 95%;
                max-height: 230px;
                overflow-y: auto;
                margin-top: 15px;


                .tabelaCompra {
                    width: 95%;
                    display: flex;
                    flex-direction: column;


                    table {
                        width: 100%;
                        margin-top: 25px;
                        border-collapse: collapse;


                    }

                    th {
                        font-family: 'inter';
                        font-size: 17px;
                        font-weight: 600;
                        color: black;
                        border-bottom: 1px solid black;

                    }

                    td {
                        text-align: center;
                        font-family: 'inter';
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 3.2;
                    }

                }
            }

            .valorTotal {
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: right;

                h2 {
                    margin-top: 30px;
                    text-align: right;
                    font-family: 'inter';
                    font-size: 16px;
                    font-weight: 700;
                    margin-bottom: 40px;

                }
            }


        }



    }
}


.containerModalAluguel {
    background-color: #ffffff;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;


    h4 {
        position: relative;
        left: 96%;
        top: 2%;
        font-family: 'inter';
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }

    .tituloModal {
        text-align: center;
        font-family: 'inter';
        font-size: 20px;
    }

    .btnModal {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 40px;

        button {
            width: 210px;
            background: #ffcd9fbd;
            padding: 14px 40px;
            font-family: 'inter';
            font-size: 18px;
            font-weight: 600;
            color: #ffffff;
            border: none;
            border-radius: 7px;
            cursor: pointer;
            transition: 0.3s;
        }

        button:hover {
            transform: scale(1.03);
        }
    }


    .aluguel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin-top: 30px;

        .inputAluguel {
            width: 90%;

            h2 {
                font-family: 'inter';
                font-size: 16px;
                font-weight: 500;
            }

            input {
                width: 50px;
                height: 20px;
            }

            h3 {
                margin-top: 50px;
                font-family: 'inter';
                font-size: 16px;
                font-weight: 700;
            }

            .valores {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }

    }
}

.sectionModalLogin {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #212121d0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

    .containerModalLogin {
        background-color: #ffffff;
        width: 40%;
        height: 30%;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .textoModal {
            font-family: 'inter';
            font-size: 18px;
            font-weight: 500px;
            margin-top: 50px;
        }

        .btnModal {
            margin-top: 30px;

            .closeModal {
                margin-right: 10px;
                width: 150px;
                height: 25px;
                border-radius: 12px;
                border: none;
                background-color: #e63131cb;
                color: #ffffff;
                font-family: 'inter';
                font-weight: 600;
            }

            .loginModal {
                margin-right: 10px;
                width: 150px;
                height: 25px;
                border-radius: 12px;
                border: none;
                background-color: #046822;
                color: #ffffff;
                font-family: 'inter';
                font-weight: 600;
            }
        }
    }
}



button.ativo {
    background-color: #FF7A00 !important;
}

@media(max-width:380px) {

    .menuInfos {
        gap: 40px !important;

    }



    .listaEspecificacao {
        width: 100% !important;
        margin-left: -30px !important;

        ul {
            width: 90% !important;
            gap: 15px !important;

            li {
                .li {
                    width: 140px !important;
                    font-size: 13px !important;

                    img {
                        width: 15px !important;
                        height: 10px !important;
                    }
                }
            }
        }
    }

    .containerModal {
        width: 80% !important;
        height: 95% !important;

        .scroolTable {
            margin-right: -25px !important;
            width: 95%;
            max-height: 100px !important;
            overflow-y: auto;
            margin-top: 15px;
        }

    }
}



@media(max-width: 670px) {

    section {

        .parte1 {
            flex-direction: column !important;
            align-items: center;
            justify-content: center;

            .imgGaleri {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 40px;
                gap: 25px;
                width: 100%;


                img {
                    width: 290px;
                    height: 200px;
                    padding: 0;

                }
            }

            .infosCar {
                align-items: center;
                width: 90%;
                margin-top: 60px;

                .infosCarValorName {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 90%;

                    .infosNameCar {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 55px;
                        gap: 35px;

                        .carTipo {
                            width: 90%;
                            word-wrap: break-word;
                            display: flex;
                            flex-direction: row;
                            text-align: center;

                            h1 {
                                font-family: 'inter';
                                font-size: 25px;
                                font-weight: 600;
                            }
                        }

                        .carPotencia {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;


                            h1 {
                                font-size: 20px;
                            }

                            h3 {
                                font-size: 17px;
                            }
                        }
                    }

                    .infosValores {
                        margin-top: 60px;
                        text-align: center;
                        justify-content: center;
                        gap: 20px;

                        h1 {
                            font-size: 23px;
                        }

                        h3 {
                            font-size: 17px;
                        }
                    }


                }

                .menuInfos {
                    flex-wrap: wrap;
                    width: 80%;
                    margin-top: 150px;
                    gap: 35px;

                    img {
                        width: 30px;
                    }

                    h3 {
                        font-family: 'inter';
                        font-size: 13px;
                        font-weight: 500;
                    }

                    .combustivel {
                        text-align: center;

                        img {
                            width: 35px;
                        }

                        h3 {
                            width: 60px;
                            word-wrap: break-word;
                        }
                    }

                    .carroceria {
                        text-align: center;

                        img {
                            width: 60px;
                        }

                        h3 {
                            width: 60px;
                            word-wrap: break-word;
                        }
                    }
                }



                .infosCarroceria {
                    align-items: center;
                    justify-content: center;
                    margin-top: 60px;
                    gap: 35px;

                    h2 {
                        font-size: 13px;
                    }

                    img {
                        width: 40px;
                        height: 40px;
                    }

                    .motor {
                        flex-direction: column;
                        gap: 7px;

                    }

                    .portas {
                        flex-direction: column;
                        gap: 7px;
                    }

                    .placa {
                        flex-direction: column;
                        gap: 7px;
                    }

                }

                .listaEspecificacao {
                    width: 90%;
                    margin-top: 60px;
                    margin-left: -20px;

                    ul {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        width: 100%;
                        gap: 30px;

                        li {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            gap: 15px;

                            .li {
                                gap: 10px;
                                width: 140px;
                                word-wrap: break-word;
                                font-size: 15px;
                                font-weight: 500;

                                img {
                                    width: 20px;
                                    height: 15px
                                }
                            }
                        }
                    }
                }

                .btnSimulacao {
                    display: flex;
                    justify-content: center;
                    margin-top: 50px;
                    margin-left: -20px !important;
                }
            }
        }

        .maisModelos {
            margin-top: 60px;
            margin-bottom: 60px;

            .tituloMais {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 50px;

                h1 {
                    font-family: 'inter';
                    font-size: 23px;
                    font-weight: 600;
                    color: black;
                }
            }

            .containerCards {
                width: 90%;
                margin-left: 20px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 40px;
            }


        }

    }

    .containerModal {
        width: 80% !important;
        height: 75% !important;

        h4 {
            left: 93% !important;
            top: 0% !important;
            font-size: 25px !important;
            font-weight: 600 !important;
        }

        .tituloModal {
            font-size: 16px !important;
        }

        .btnModal {
            button {
                width: 100px !important;
                padding: 10px 0px !important;
                font-size: 15px !important;
            }
        }

        .compra {
            margin-top: 20px !important;

            .selectCompra {
                h2 {
                    font-size: 14px !important;
                }
                select {
                    width: 40px !important;
                }
            }

            .scroolTable {
                margin-right: -25px !important;
                max-height: 220px !important;

                .tabelaCompra {

                    table {
                        margin-top: 0px !important;
                    }
                    th{
                        font-size: 12px !important;
                    }
                    td {
                        font-size: 10px !important;
                        font-weight: 500 !important;
                    }
                }
            }
            .valorTotal {
                h2 {
                    font-size: 13px !important;
                }
            }
        }
    }


    .containerModalAluguel {
        background-color: #ffffff;
        width: 80%;
        height: 60%;
        display: flex;
        flex-direction: column;
    
    
        h4 { 
            left: 93% !important;
            top: 0% !important;
            font-size: 25px !important;
            font-weight: 600 !important;
        }
    
        .tituloModal {
            font-size: 16px;
        }
    
        .btnModal {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 40px;
    
            button {
                width: 100px;
                padding: 10px 0px;
                font-size: 15px;
            }
        }   
    
        .aluguel {
            margin-top: 20px;
    
            .inputAluguel {
                width: 90%;
    
                h2 {
                    font-size: 14px;
                }    
                input {
                    width: 40px;
                    height: 20px;
                }    
                h3 {
                    margin-top: 30px;
                    font-size: 13px;
                }
    
                .valores {
                    margin-left: 30px;
                    width: 90%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                }
            }
    
        }
    }


    .sectionModalLogin {
    
        .containerModalLogin {
            width: 80%;
            height: 25%;
    
            .textoModal {
                text-align: center;
                font-size: 15px;
                margin-top: 50px;
            }
    
            .btnModal {
                width: 90%;
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                justify-content:space-around;
    
                .closeModal {
                    margin-right: 10px;
                    width: 100px;
                    height: 25px;
                    font-size: 13px;
                    font-weight: 700;
                }
    
                .loginModal {
                    margin-right: 10px;
                    width: 100px;
                    height: 25px;
                    font-size: 13px;
                    font-weight: 600;
                }
            }
        }
    }

}

@media(min-width:700px) and (max-width: 890px) {

    section {

        .parte1 {
            flex-direction: column !important;
            align-items: center;
            justify-content: center;

            .imgGaleri {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 40px;
                gap: 20px;
                width: 100%;


                img {
                    width: 250px;
                    height: 200px;
                    padding: 0;

                }
            }

            .infosCar {
                align-items: center;
                width: 90%;
                margin-top: -30px;

                .infosCarValorName {
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    .infosNameCar {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: space-between;
                        margin-top: 55px;
                        margin-left: -20px;
                        gap: 45px;

                        .carTipo {
                            width: 90%;
                            word-wrap: break-word;
                            display: flex;
                            flex-direction: row;
                            text-align: start;

                            h1 {
                                font-family: 'inter';
                                font-size: 25px;
                                font-weight: 600;
                            }
                        }

                        .carPotencia {
                            display: flex;
                            flex-direction: column;
                            align-items: start;


                            h1 {
                                font-size: 25px;
                            }

                            h3 {
                                font-size: 20px;
                            }
                        }
                    }

                    .infosValores {
                        width: 50%;
                        margin-top: 60px;
                        text-align: end;
                        justify-content: center;
                        gap: 20px;

                        h1 {
                            font-size: 26px;
                        }

                        h3 {
                            font-size: 20px;
                        }
                    }


                }

                .menuInfos {
                    flex-wrap: wrap;
                    width: 90%;
                    margin-top: 50px;
                    gap: 35px;

                    img {
                        width: 30px;
                    }

                    h3 {
                        font-family: 'inter';
                        font-size: 13px;
                        font-weight: 500;
                    }

                    .combustivel {
                        text-align: center;

                        img {
                            width: 35px;
                        }
                    }

                    .carroceria {
                        text-align: center;

                        img {
                            width: 60px;
                        }
                    }
                }

                .infosCarroceria {
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 50px;

                    h2 {
                        font-size: 18px;
                    }

                    img {
                        width: 60px;
                        height: 60px;
                    }

                    .motor {
                        flex-direction: row;
                        gap: 10px;

                    }

                    .portas {
                        flex-direction: row;
                        gap: 10px;
                    }

                    .placa {
                        flex-direction: row;
                        gap: 10px;
                    }

                }

                .listaEspecificacao {
                    width: 98%;
                    margin-top: 60px;
                    margin-left: -20px;

                    ul {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        width: 100%;
                        gap: 25px;

                        li {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            gap: 35px;

                            .li {
                                gap: 10px;
                                width: 200px;
                                word-wrap: break-word;
                                font-size: 15px;
                                font-weight: 500;

                                img {
                                    width: 20px;
                                    height: 15px
                                }
                            }
                        }
                    }
                }

                .btnSimulacao {
                    display: flex;
                    justify-content: center;
                    margin-top: 50px;
                    margin-left: -20px !important;
                }
            }
        }

        .maisModelos {
            margin-top: 60px;
            margin-bottom: 60px;

            .tituloMais {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 50px;

                h1 {
                    font-family: 'inter';
                    font-size: 28px;
                    font-weight: 600;
                    color: black;
                }
            }

            .containerCards {
                width: 90%;
                margin-left: 20px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 40px;
            }


        }

    }

    .containerModal {
        width: 80% !important;
        height: 75% !important;

        h4 {
            left: 94% !important;
            top: 1% !important;
            font-size: 35px !important;
            font-weight: 800 !important;
        }

        .tituloModal {
            font-size: 25px !important;
        }

        .btnModal {
            button {
                width: 200px !important;
                padding: 17px 5px !important;
                font-size: 18px !important;
            }
        }

        .compra {
            margin-top: 30px !important;

            .selectCompra {
                h2 {
                    font-size: 20px !important;
                }
                select {
                    width: 60px !important;
                }
            }

            .scroolTable {
                margin-right: -30px !important;
                max-height: 420px !important;

                .tabelaCompra {

                    table {
                        margin-top: 20px !important;
                    }
                    th{
                        font-size: 20px !important;
                    }
                    td {
                        font-size: 18px !important;
                        font-weight: 500 !important;
                    }
                }
            }
            .valorTotal {
                h2 {
                    font-size: 20px !important;
                }
            }
        }
    }


    .containerModalAluguel {
        background-color: #ffffff;
        width: 80%;
        height: 40%;
        display: flex;
        flex-direction: column;
    
    
        h4 { 
            left: 93% !important;
            top: 0% !important;
            font-size: 25px !important;
            font-weight: 600 !important;
        }
    
        .tituloModal {
            font-size: 25px;
        }
    
        .btnModal {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 40px;
    
            button {
                width: 200px;
                padding: 17px 5px;
                font-size: 18px;
            }
        }   
    
        .aluguel {
            margin-top: 20px;
    
            .inputAluguel {
                width: 90%;
    
                h2 {
                    font-size: 20px;
                }    
                input {
                    width: 60px;
                    height: 25px;
                }    
                h3 {
                    margin-top: 30px;
                    font-size: 20px;
                }
    
                .valores {
                    margin-left: 30px;
                    width: 90%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                }
            }
    
        }
    }


    .sectionModalLogin {
    
        .containerModalLogin {
            width: 60%;
            height: 20%;
    
            .textoModal {
                width: 90%;
                text-align: center;
                font-size: 20px;
                margin-top: 50px;
            }
    
            .btnModal {
                width: 90%;
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                justify-content:space-around;
    
                .closeModal {
                    margin-right: 10px;
                    width: 150px;
                    height: 35px;
                    font-size: 16px;
                    font-weight: 700;
                }
    
                .loginModal {
                    margin-right: 10px;
                    width: 150px;
                    height: 35px;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }

}