section {
    width: 100%;
    height: 470px;
    background: #595959;
    display: flex;
    justify-content: center;
    align-items: center;

    .containerLogin {
        background-color: #ffffff;
        width: 70%;
        height: 80%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        // justify-content:space-around;
        h1 {
            margin-top: 20px;
            font-family: 'roboto';
            font-size: 25px;

        }

        .containerInputs {
            display: flex;
            flex-direction: row;  
            margin-top: 40px;
            width: 90%;
            gap: 50px;
            label {
                margin-left: 10px;
                font-family: 'roboto';
                font-size: 14px;
                font-weight: 600;
                
            }
            input{
                margin-top: 5px;
                margin-bottom: 10px;
                padding: 3px 0px 3px 10px;
                width: 100%;
                height: 30px;
                border-radius: 13px;
                background: #F2F2F2;
                border: 1px solid #B8B8B8;
            }
            small {
                margin-left: 10px;
                font-family: 'roboto';
                font-size: 10px;
                font-weight: 600;
                color: red;

            }

            .input1{
                width: 50%;
                
            }
            .input2{
                width: 50%;
               
            }
        }
        .btnSingUp{
            width: 80%;
        }

    }

}

.invalid {
    border: 1px solid red !important;
}