<section>
    <div class="containerLogin">
        <h1>
            Sing Up
        </h1>
        <div class="containerInputs">
            <div class="input1">
                <label for="">Username</label>
                <input type="text" placeholder="Username">
                <label for="">Senha</label>
                <input type="text" placeholder="Senha">
            </div>
            <div class="input2">
                <label for="">Nome completo</label>
                <input type="text" placeholder="Nome completo">
                <label for="">Confirmar senha</label>
                <input type="text" placeholder="Confirmar senha">
            </div>   
        </div>
        <div class="btnSingUp">
            <app-buttons [textBtn]="'Entrar'" [btnClass]="'btnLogin'"></app-buttons>
        </div>
    </div>
</section>