section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 168px;
    // padding: 0 0 118px 0 ;

    .containerTudoModelo {
        margin-top: -120px;
        margin-bottom: 120px;
        width: 100%;
    }

    .containerTudoMarca{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .containerTitulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        gap: 5px;

        h1 {
            font-family: 'inter';
            font-size: 30px;
            font-weight: 400;
        }

        h4 {
            font-family: 'inter';
            font-size: 20px;
            font-weight: 300;
        }
    }

    .containerCards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 70px;

        .cardInterna {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 340px;
            margin-top: 60px;

            .imgCard {
                width: 100%;
                overflow: hidden;

                img {
                    background-size: cover;
                    width: 300px;
                    height: 200px;
                    webkit-transition: -webkit-transform .5s ease;
                    transition: transform .5s ease;
                }

                img:hover {
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }

            .textCard {
                text-align: center;


                h1 {
                    font-family: 'inter';
                    font-size: 24px;
                    font-weight: 500;
                    margin: 20px;
                }

                h3 {
                    font-family: 'inter';
                    font-size: 15px;
                    font-weight: 400;
                    margin-bottom: 20px;
                }

                button {
                    width: 210px;
                    background: #FF7A00;
                    padding: 8px 45px;
                    font-family: 'inter';
                    font-size: 15px;
                    font-weight: 600;
                    color: #ffffff;
                    border: none;
                    border-radius: 7px;
                    animation: 0.4s;
                    cursor: pointer;

                }

                button:hover {
                    scale: 1.05;
                    background: #ffc401;
                }
            }
        }
    }
}



@media(max-width: 670px) {

    .containerTitulo {
        h1 {
            font-size: 20px !important;
        }

        h4 {
            font-size: 16px !important;
        }
    }

    .containerCards {
        width: 90% !important;

    }

    .containerTudoModelo {
        margin-top: -160px !important;
        margin-bottom: -80px !important;

        .cardInterna {
            margin-left: 50px !important;

        }

    }

    .containerTudoMarca{
        margin-bottom: -180px !important;
        
    }



}