    .section {
        width: 1080px;

        .containerFilho {
            width: 100%;

            .titulo {
                width: 100%;
                text-align: center;
                margin-top: 30px;


                h1 {
                    font-family: 'inter';
                    font-size: 23px;
                    font-weight: 600;
                }
            }

            .tabela {
                width: 100%;
                margin-top: 40px;
                margin-bottom: 40px;
                font-family: 'inter';
                font-size: 16px;
                font-weight: 400;
                
                table{
                    border-collapse: collapse;
                    width: 100%;

                }

            }


            th {
                // text-align: center;
                font-weight: 500;
                border-bottom: 1px solid black;
            }

            th,
            td {
                padding: 15px 5px;
            }

            tr:nth-child(even) {
                background-color: #D9D9D9;
            }

            td {
                text-align: center;
                #imgTd {

                    width: 100px;
                    height: 80px;
                }

                button {
                    border: none;
                    background: transparent;
                    cursor: pointer;

                    img {
                        width: 25px;
                    }
                }
            }
        }
    }