<section>
    <div class="logoPage">
        <img src="../../../../assets/navBar/itlean-logo-white 1.png" alt="" routerLink="cms/table1">
    </div>
    <div class="menuTabelas">
        <ul>
            <li><a href="">Carros</a></li>
            <li><a href="">Modelo de carros</a></li>
            <li><a href="">Marcas</a></li>
            <li><a href="">Usuários</a></li>
        </ul>
    </div>
    <div class="logout">
        <h1>
            Logout
        </h1>
        <img src="../../../../assets/navBar/conecte-se 1.png" alt="">
    </div>
</section>