<section>
    <div class="logoPage">
        <img src="../../../../assets/navBar/itlean-logo-white 1.png" alt="" routerLink="cms/table1">
    </div>
    <div class="menuTabelas">
        <ul>
            <li>
                <a routerLink="cms/table/carros">Carros</a>
            </li>
            <li>
                <a routerLink="cms/table/modelosDeCarros" >Modelo de carros</a>
            </li>
            <li>
                <a routerLink="cms/table/marcas" >Marcas</a>
            </li>
            <li>
                <a routerLink="cms/table/usuarios" >Usuários</a>
            </li>
            <li>
                <a routerLink="cms/table/conteudoSite" >Conteudo site</a>
            </li>            
        </ul>
    </div>
    <div class="logout">
        <h1 (click)="deslogar()">
            Logout
        </h1>
        <img src="../../../../assets/navBar/conecte-se 1.png" alt="" (click)="deslogar()">
    </div>
</section>